.bg-blue-900 {
  --bg-opacity: 1;
  background-color: #2a4365;
  background-color: rgba(42, 67, 101, var(--bg-opacity));
}

.hover-bg-gray-800:hover {
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
}

.w-32 {
  width: 8rem;
}

.h-0 {
  height: 0;
}

.transition-all {
  transition-property: all;
}

.smallcaps {
  font-variant: small-caps;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-200 {
  transition-duration: 0.2s;
}
.duration-300 {
  transition-duration: 0.3s;
}
.duration-500 {
  transition-duration: 0.5s;
}

.edit-field {
  height: 0;
  margin-bottom: -12px;
  padding-bottom: 12px;
}

.edit-field.active {
  height: fit-content;
}

.hover-text-black:hover {
  color: black !important;
}

.hover-border-transparent:hover {
  border: 1px solid transparent;
}

.outline-none:focus {
  outline: none !important;
}

.h-25 {
  height: 25px;
}

.h-50 {
  height: 50px;
}

.w-25 {
  width: 25px;
}

.border-black {
  border: 1px solid black;
}

.choices {
  transition: all ease 0.3s;
  margin-top: 5px;
  margin-bottom: 5px;
}

.choices:hover {
  box-shadow: 0 0 0 6px #fff, 0 0 0 7px #000;
}

.choices.active {
  box-shadow: 0 0 0 6px #fff, 0 0 0 7px #000;
}
